<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{{ url_for('static', path='css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
      a{
        text-decoration: none !important; 
        color: white !important;
      }
      a:hover{
        /* box-shadow: inset 0 -1.2em 0 #725a7a86; */
        color: #ffcc50 !important;
      }
      #centerbox{
        color: white !important;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        /* font-family: Menlo, monospace; */
      }
    </style>
    <title>d/place</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    
    <canvas id="myCanvas" width="960" height="540" style="border:2px solid red;"></canvas>

    <script src="{{ url_for('static', path='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', path='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', path='js/place.js') }}"></script>
  </body>

</html>